.allDataGrouping {
  border: solid rgb(17, 42, 168);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tableGroup {
  border: 15px solid rgb(4, 13, 59);
  display: flex;
  justify-content: center;
  padding: 1%;
  margin: 1%;
}
.tableGroupW {
  display: flex;
  justify-content: center;
}
.space{
  padding: 1%;
  border: 1px solid;
}
table {
  flex-basis: 98%;
}
table {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  font-weight: 800;
  color: rgb(160, 1, 67);
}
th,
td {
  font-size: 1.3rem;
  padding: 0.8%;
  border-bottom: solid black;
}
caption {
  font-size: 1.5rem;
  padding: 1%;
  font-weight: 800;
  color: rgb(17, 42, 168);
  text-align: center;
}
h1 {
  color: rgb(17, 42, 168);
  text-align: center;
}
button {
  font-size: 1.5rem;
  width: fit-content;
  margin: 0px auto;
  background-color: brown;
  padding: 0.5%;
  color: white;
  outline: none;
  border: none;
}
